.connexion{
    position: relative;
    height: 70%;
	min-height: 500px;
   background-image:url(../img/fond_connexion.png) ;
   background-repeat: no-repeat;
   background-position: 30% 0%;
}
.formulaireCo{
    position: absolute;
    right: 20%;
    top: 100px;
}
.formulaireCo .insc{
    text-align: center;
    padding-top: 20px;
}
.formulaire_login{
    background-color: rgba(122, 213, 103, 0.9);
	border-radius: 10px;
    padding: 20px 20px 0px 0px;
}
#formulaire_login legend{
    text-align: center;
    width: 60%;
    color: #38325F;
    text-transform: uppercase;  
    border-bottom: 2px solid #FDFF7F;
}
#formulaire_login span{
    display: none;
}
#formulaire_login ul{
    list-style-type : none;
    color:white;
}
#formulaire_login .boutons{
    position: relative;
    top: 13px;
}
#formulaire_login .submit{
    margin: 0 auto;
    padding: 10px 40px;
    line-height: 100%;
    border: 0;
    background: #38325F;
    border-radius: 7px;
    color: white;
    display: block;
    text-transform: uppercase;
}
#formulaire_login .choix .checkbox{
    float: left;
}
#formulaire_login .choix .nofx{
    float: left;
    margin-left: 10px;
}
#formulaire_login .details #spip_pass{
    float: none;
    margin-left: 370px;
    color: white;
}
#formulaire_login #pass_securise{
    display: none !important;
}
#formulaire_login li input{
    float: right;
    margin-bottom: 10px;
    color: black;
}
#formulaire_login li label{
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

/********************************/

.menuUti{
    width: 250px;
    margin: 50px 0 0 0;
    float: left;
}
.menuUti ul{
    list-style-type : none;
    padding-left: 0;
    text-align: center;
}
.menuUti ul li{
    padding: 10px 0 10px 0;
    border: 2px dashed #D9D9D9;
    border-top-style: none;
    border-left-style: none;
    font-size: 17px;
}
.menuUti ul li a{
    color: black;
}
.overMenu{
    color:#7AD567 !important;
}
/**************************************/
.containerProfil{
    width: 70%;
    margin-top: 80px;
    float: left;
}
.containerProfil input {
    border-radius: 5px;
    padding: 6px;
    margin: 10px 40px 10px 10px;
    border: 1px solid #BDBDBD;
}
.containerProfil form{
    width: 570px;
    position: relative;
    margin: 0 auto;
}
.containerProfil TEXTAREA{
    border-radius: 5px;
    padding: 6px;
    margin: 10px;
    border: 1px solid #BDBDBD;
}
.containerProfil .submit{
    padding: 6px 50px;
    float: right;
    background: #38325F;
    color: #FDFF7F;
}
.blocCentral .LogoAut{
    border-radius: 150px;
    position: absolute;
    top: -90px;
    right: 90px;
    display: -webkit-inline-box;
    overflow: hidden;
}


/******************************************/
.blocCentral{
    margin-bottom: 60px;
}
.blocCentral:after{
    content: ""; /* Important, sinon l'élément n'est pas généré. */
    display: table;
    clear: both;
}

/***********************************************/
.containerProjet{
    margin-top: 50px;
    float: left;
    width: 70%;
}
.containerProjet .centerbloc{
    width: 340px;
    margin: 0 0 0 40px;

}
.containerProjet .centerbloc ul{color: #848484;}
.containerProjet .centerbloc li{margin: 20px 0;}
.containerProjet .centerbloc li a{color: #ACACAC;}
.containerProjet .AjoutAtricl{
    padding: 7px 30px;
    display: block;
    width: 170px;
    margin-top: 30px;
    background: #38325F;
    border-radius: 5px;
    color: #FDFF7F;

}

/********************************************************/

.containerProjetDetail{
    width: 470px;
    margin: 0 auto;
}
.containerProjetDetail input {
    border-radius: 5px;
    padding: 6px;
    margin: 10px 40px 10px 10px;
    border: 1px solid #BDBDBD;
}
.containerProjetDetail form{
    width: 470px;
    position: relative;
    margin: 0 auto;
}
.containerProjetDetail TEXTAREA{
    border-radius: 5px;
    padding: 6px;
    margin: 10px;
    border: 1px solid #BDBDBD;
}
.containerProjetDetail .submit{
    padding: 6px 50px;
    float: right;
    background: #38325F;
    color: #FDFF7F;
}
.blocCentral .LogoAut{
    border-radius: 150px;
    position: absolute;
    top: -90px;
    right: 90px;
    display: -webkit-inline-box;
    overflow: hidden;
}


/*********************************************************************/

.formulaireIns {
    width: 600px;
    margin: 0 auto;
}

.formulaireIns h1{ text-align: center; }

.formulaireIns .formulaire_inscription {
    background-color: rgba(122, 213, 103, 0.9);
    border-radius: 10px;
    padding: 20px;
}

.formulaireIns .formulaire_inscription legend{
    border-bottom: 2px solid #FDFF7F;
    text-transform: uppercase;
}

.formulaireIns ul{
    list-style-type : none;
}

.formulaireIns li input{
    float: right;
    margin-bottom: 10px;
    color: black;
}
.formulaireIns li label{
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

.formulaireIns .submit{
    margin: 0 auto;
    padding: 10px 40px;
    line-height: 100%;
    border: 0;
    background: #38325F;
    border-radius: 7px;
    color: white;
    display: block;
    text-transform: uppercase;
}
.formulaireIns .boutons{
    position: relative;
    top: 47px;
}

.formulaireIns .insc{
    text-align: center;
    padding-top: 35px;
}